[submodule "Dependencies/AFNetworking"]
	path = Dependencies/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "ios-etsy-sdkTests/Dependencies/Kiwi"]
	path = ios-etsy-sdkTests/Dependencies/Kiwi
	url = git://github.com/allending/Kiwi.git
