[submodule "ios-etsy-sdk/Dependencies/AFNetworking"]
	path = ios-etsy-sdk/Dependencies/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "ios-etsy-sdk/ios-etsy-sdkTests/Dependencies/Kiwi"]
	path = ios-etsy-sdk/ios-etsy-sdkTests/Dependencies/Kiwi
	url = https://github.com/allending/Kiwi.git
